language: python
python:
  - 3.6

sudo: enabled

install:
  - python bootstrap-buildout.py
  - bin/buildout
script:
  - chmod +x stackshare/*
  - bin/bs4 stackshare/src/get_item.py
  - bin/bs4 stackshare/src/pic_getter.py
  - bin/bs4 stackshare/src/item_info.py
  - bin/bs4 stackshare/src/pic_getter.py
  - bin/bs4 stackshare/src/companies_info.py
